main {
	margin-top: 140px !important;
}

.profile-info {
	width: 100%;
	height: 210px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .05);
	display: flex;
	flex-direction: row;
}
.profile-info .user-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1;
	padding: 30px 30px 30px 0;
}
.profile-info .user-info .col {
	display: flex;
	flex-direction: column;
	width: calc(50% - 30px);
}

.profile-info .user-image {
	width: 210px;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-info .user-image .image {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 10px;
}
.profile-info .user-image .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profile-info input {
	padding: 0 0 10px 0;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 16px;
	background-color: transparent;
	outline: none;
	margin-bottom: 30px;
}
.profile-info input:nth-last-child(1) {
	margin-bottom: 0px;
}

.profile-info .user-info .user-more {
	justify-content: space-between;
}

.profile-info .role {
	display: flex;
	align-items: center;
}
.profile-info .role img {
	height: 19px;
	margin-right: 5px;
}



.tests-titles {
	display: flex;
	margin-top: 30px;
}
.tests-titles div {
	font-size: 14px;
	color: rgba(0, 0, 0, .4);
	font-weight: 400;
	/*border: 1px solid;*/
	text-align: center;
}
.tests-titles .name {
	width: 300px;
}
.tests-titles .subject {
	width: 350px;
}
.tests-titles .questions {
	width: 100px;
}
.tests-titles .time {
	width: 200px;
}
.tests-titles .link {
	width: 110px;
}


.test .name {
	width: 300px;
	padding-left: 20px;
}
.test .subject {
	width: 350px;
	text-align: center;
}
.test .questions {
	width: 100px;
	text-align: center;
}
.test .time {
	width: 200px;
	text-align: center;
}
.test .link {
	transition: .2s;
	width: 110px;
	padding-right: 30px;
	text-align: right;
}

.tests {
	padding-top: 10px;
}
.test {
	transition: .2s;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, .05);
	border-radius: 15px;
	display: flex;
	align-items: center;
	font-weight: 400;
	margin-bottom: 10px;
}
.tests a {
	text-decoration: none;
}