RewriteEngine On
RewriteCond %{REQUEST_URI} !^/models/ [NC]
RewriteCond %{REQUEST_URI} !^/models\.php$ [NC]
RewriteCond %{REQUEST_URI} !^/functions\.php$ [NC]
RewriteRule ^([^/]+)\.([^/]+)/?$ endpoints/$1.$2/index.php [L]
